@using AutoTradeHub.ViewModels
@model DashboardVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-4">
	<div class="row">
		<div class="col-3">
			<div>
				<img src="~/img/enot_ava.jpg" alt="Аватарка" class="img-thumbnail" />
			</div>
			<div class="d-grid gap-3 mt-3">
				<a type="button" asp-action="Create" asp-controller="Car" class="btn btn-outline-primary">
					Разместить объявление</a>
				<button type="button" class="btn btn-outline-primary disabled">Редактировать профиль</button>
				<button type="button" class="btn btn-outline-danger disabled">Удалить аккаунт</button>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-md-auto">
					<p class="text-muted">Имя</p>
					<p class="text-muted">Email</p>
					<p class="text-muted">Номер телефона</p>
				</div>
				<div class="col">
					<p>@Model.AppUser.UserName</p>
					<p>@Model.AppUser.Email</p>
					<p>@Model.AppUser.PhoneNumber</p>
				</div>
			</div>
			<h4>Избранные объявления</h4>
			<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
				@foreach (Car car in Model.UserCars)
				{
					<div class="col">
						<a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id"
						   style="text-decoration: none; color: black">
							<div class="card">
								<img src="\img\KIA RIO 2019.jpg" class="card-img-top"
									 alt="Car Image" style="height: 216px; object-fit: cover;">
								<div class="card-body">
									<h5 class="card-title">
										@car.Marka?.Name @car.Model?.Name @car.Year
									</h5>
									<p class="card-text">
										@car.Price ₽
									</p>
								</div>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>
