@using AutoTradeHub.ViewModels
@using Microsoft.JSInterop
@model CarVM
@inject IJSRuntime JS
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-4">
	<div class="d-flex justify-content-between mb-4">
		<h2>@Model.Marka?.Name @Model.Model?.Name @Model.Year</h2>
		<h2>@Model.TextPrice</h2>
	</div>

	<div class="row">
		<div class="col">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					@for (int i = 1; i <= Model.PhotosPath.Count; i++)
					{
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
					}
				</div>
				<div class="carousel-inner detail-carousel-inner">
					<div class="carousel-item active" data-bs-interval="600000">
						<img src="~/@Model.MainPhotoPath" class="carousel-item-img d-block w-100" alt="Car image">
					</div>
					@foreach (string photoPath in Model.PhotosPath)
					{
						<div class="carousel-item" data-bs-interval="600000">
							<img src="~/@photoPath" class="carousel-item-img d-block w-100" alt="Car image">
						</div>
					}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			@if (User.Identity.IsAuthenticated)
			{
				<div class="d-flex justify-content-between mt-4">
					@if (ViewBag.IsInFavorite == false)
					{
						<button type="button" class="btn btn-outline-primary"
								onclick="favoriteButtonClick();" id="favoriteButton">
							Добавить в избранное
						</button>
					}
					else
					{
						<button type="button" class="btn btn-outline-danger"
								onclick="favoriteButtonClick();" id="favoriteButton">
							Удалить из избранного
						</button>
					}
					<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
							data-bs-target="#Contacts">
						Связаться с продавцом
					</button>
					<button type="button" class="btn btn-outline-primary"
					onclick="copyUrl();">Поделиться объявлением</button>
				</div>
				<div class="alert alert-primary mt-2 fade show alert-dismissible" role="alert" id="alertURL" hidden>
					Ссылка скопирована в буфер обмена
					<button type="button" onclick="closeAlert();" class="btn-close" aria-label="Close"></button>
				</div>
			}
			else
			{
				<div class="d-flex justify-content-between mt-4 mb-3">
					<a type="button" asp-controller="Account" asp-action="Login"
					   class="btn btn-primary" style="width:49%">Войти</a>
					<a type="button" asp-controller="Account" asp-action="Register"
					   class="btn btn-outline-primary" style="width:49%">Зарегистрироваться</a>
				</div>
				<p>
					Войдите в свой аккаунт, чтобы иметь возможность сохранять понравившиеся объявления, делиться ими
					и контактировать с продавцами
				</p>
			}

			@if (User.Identity.IsAuthenticated && ViewBag.curUserId == Model.AppUserId)
			{
				<div class="row mt-4">
					<div class="col-6">
						<div class="d-grid">
							<a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id"
							   type="button" class="btn btn-outline-primary">
								Редактировать объявление
							</a>
						</div>
					</div>
					<div class="col-6">
						<div class="d-grid">
							<button data-bs-toggle="modal" data-bs-target="#DeleteModal"
							   type="button" class="btn btn-outline-danger">
								Удалить объявление
							</button>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="col">
			<div class="row">
				<div class="col-md-auto">
					<p class="text-muted">Двигатель</p>
					<p class="text-muted">Мощность</p>
					<p class="text-muted">Коробка передач</p>
					<p class="text-muted">Привод</p>
					<p class="text-muted">Тип кузова</p>
					<p class="text-muted">Цвет</p>
					<p class="text-muted">Пробег</p>
					<p class="text-muted">Руль</p>
					<p class="text-muted">Поколение</p>
				</div>
				<div class="col">
					<p>@Model.EngineType , @Model.EngineVolume л</p>
					<p>@Model.EnginePower л.с.</p>
					<p>@Model.Gearbox</p>
					<p>@Model.Privod</p>
					<p>@Model.BodyType</p>
					<p>@Model.Color?.Name</p>
					<p>@Model.Probeg км</p>
					<p>@Model.SteeringWheel</p>
					<p>@Model.Generation?.Name</p>
				</div>
				<div class="mt-4">
					<p class="text-muted">Описание</p>
					<p>@Model.Description</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Contacts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Контактные данные продавца</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>@Model.AppUser.FirstName @Model.AppUser.LastName</p>
					<p>Номер телефона: @Model.AppUser.PhoneNumber</p>
					<p>Email: @Model.AppUser.Email</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Вы уверены, что хотите удалить объявление?</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Это действие невозможно отменить
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<a asp-controller="Car" asp-action="DeleteModal" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Удалить объявление</a>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		function addToFavorite() {
			$.ajax({
				type: "GET",
				url: "https://localhost:44395/Car/AddToFavorite?carId=" + @Convert.ToString(Model.Id),
				dataType: "json",
				success: function (result) {
					console.log(result);
					changeFavoriteButton();
				},
				error: function (req, status, error) {
					console.log(req, status, error);
				}
			})
		}

		function deleteFromFavorite() {
			$.ajax({
				type: "GET",
				url: "https://localhost:44395/Car/DeleteFromFavorite?carId=" + @Convert.ToString(Model.Id),
				dataType: "json",
				success: function (result) {
					console.log(result);
					changeFavoriteButton();
				},
				error: function (req, status, error) {
					console.log(req, status, error);
				}
			})
		}

		function favoriteButtonClick() {
			if (document.getElementById("favoriteButton").className == "btn btn-outline-danger") {
				deleteFromFavorite();
			}
			else {
				addToFavorite();
			}
		}

		function changeFavoriteButton() {
			if (document.getElementById("favoriteButton").className == "btn btn-outline-danger") {
				updateFavoriteButton("white");
			}
			else {
				updateFavoriteButton("red");
			}
		}

		function updateFavoriteButton(color) {
			if (color == "red") {
				document.getElementById("favoriteButton").innerHTML = "Удалить из избранного";
				document.getElementById("favoriteButton").className = "btn btn-outline-danger";
			}
			else {
				document.getElementById("favoriteButton").innerHTML = "Добавить в избранное";
				document.getElementById("favoriteButton").className = "btn btn-outline-primary";
			}
		}

		function aaa() {
			alert("aaa");
		}

		function copyUrl() {
			const address = window.location.href;
			navigator.clipboard.writeText(address);
			document.getElementById("alertURL").hidden = false;
		}
		function closeAlert() {
			document.getElementById("alertURL").hidden = true;
		}
	</script>
}
