@using AutoTradeHub.Data.Enum
@using AutoTradeHub.ViewModels
@model CarSearchVM


<div class="container mt-4">
	<form method="post" asp-action="Index">
		<div class="row mb-2">
			<div class="col">
				<div class="form-group">
					<label asp-for="MarkaId">Марка</label>
					<select asp-for="MarkaId" id="selectMarka" class="form-control" data-live-search="true"
							onchange="updateModelList();">
						<option value="-1" selected="true">Любая</option>
						@foreach (Marka marka in ViewBag.marks)
						{
							<option value="@marka.Id">@marka.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label asp-for="ModelId">Модель</label>
					<select disabled="@ViewBag.isFirst" asp-for="ModelId" class="form-control"
							data-live-search="true" id="selectModel" onchange="updateGenerationList();saveSelectedModel();">
					</select>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label asp-for="GenerationId">Поколение</label>
					<select asp-for="GenerationId" disabled="@ViewBag.isFirst" class="form-control"
							data-live-search="true" id="selectGeneration" onchange="saveSelectedGeneration();">
					</select>
				</div>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col-4">
				<label>Цена</label>
				<div class="input-group mb-3">
					<input asp-for="MinPrice" type="number" class="form-control"
						   placeholder="От, руб" aria-label="От, руб">
					<input asp-for="MaxPrice" type="number" class="form-control" placeholder="До, руб"
						   aria-label="До, руб">
				</div>
			</div>
			<div class="col-4">
				<label>Год выпуска</label>
				<div class="input-group mb-3">
					<input asp-for="MinYear" class="form-control" placeholder="От" aria-label="От">
					<input asp-for="MaxYear" class="form-control" placeholder="До" aria-label="До">
				</div>
			</div>
			<div class="col-2">
				<div class="form-group">
					<label asp-for="ColorId">Цвет</label>
					<select asp-for="ColorId" class="form-control" data-live-search="true">
						<option value="-1" selected="true">Любой</option>
						@foreach (Color color in ViewBag.colors)
						{
							<option value="@color.Id">@color.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-2">
				<div class="form-group">
					<label asp-for="MaxProbeg">Пробег</label>
					<input asp-for="MaxProbeg" type="number" class="form-control" placeholder="До, км">
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between mb-4">
			<button type="submit" class="btn btn-primary" style="width: 300px">
				Поиск
			</button>
			<a asp-action="Index" type="button" class="btn btn-secondary">
				Сбросить
			</a>
		</div>
	</form>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		@if (Model != null)
			@foreach (CarVM car in Model.Cars)
			{
				<div class="col">
					<a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id"
					   style="text-decoration: none; color: black">
						<div class="card">
							<img src="~/@car.MainPhotoPath" class="card-img-top"
								 alt="Car Image" style="height: 300px; object-fit: cover;">
							<div class="card-body">
								<h5 class="card-title">
									@car.Marka?.Name @car.Model?.Name @car.Year
								</h5>
								<p class="card-text">
									@car.TextPrice
								</p>
							</div>
						</div>
					</a>
				</div>
			}
	</div>
</div>
@section Scripts {
	<script src="~/js/SearchCar.js"></script>
}